@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131518;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: #131518;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  padding: 0 30px;
  background-color: #1F262F;
  height: 412px;
  width: 416px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title-container h1{
  color: white
}

.text-container p {
  color: #969FAD;;
  font-size: 15px;
}

.btn-container button{
  width: 100%;
  padding: 14px 0;
  color: white;
  background-color: #FC7614;
  border: none;
  border-radius: 30px;
  cursor: pointer;

}

.icon-container{
  background-color: #262E38;
  width: fit-content;
  padding: 14px;
  border-radius: 50%;

}

.icon-container img{
  display: block;
}

.rating-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.illustration-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.thankyou {
  text-align: center;
}

.text-thankyou{
  text-align: center;
}

.rating{
  padding: 14px;
  background-color:#262E38;
  width: 60%;
  border-radius: 30px;
  text-align: center;
  margin: 0 auto




}

.rating p{
  color: #FC7614;;



}



.btn-wrapper{
  padding: 20px;
  background-color: #262E38;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;

}

.btn-wrapper:hover, .btn-wrapper button:hover{
  background-color: #FC7614;
  color: white;

}





.btn-container button:hover{
  background-color: white;
  color: #FC7614;
  transition: 0.2s all ease-in
}

.btn-wrapper button{
  background: none;
  color: white;
  border: none;
  width: 20px;
  height: 20px;
  font-weight: 700;;
  cursor: pointer;

}